<launch>
	<arg name="marker_size" default="5.0" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/image_raw" />
	<!-- <arg name="cam_image_topic" default="/camera/rgb/image_raw"/> -->

	<arg name="cam_info_topic" default="/camera_info" />	
	<arg name="output_frame" default="/camera_tf_link" />
	<!-- <arg name="output_frame" default="camera_rgb_optical_frame" /> -->
	<arg name="marker_size_bot" default="10.0" />
	<arg name="cam_image_bot_topic" default="bot/image_raw" />
	<arg name="cam_info_bot_topic" default="bot/camera_info" />	
	<arg name="output_frame_bot" default="/camera_bot_link" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen"
	 args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

	 <node name="ar_track_alvar_bot" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen"
	 args="$(arg marker_size_bot) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_bot_topic) $(arg cam_info_bot_topic) $(arg output_frame_bot)">
	 <remap from="/ar_pose_marker" to="/ar_pose_marker_bot"/>
	 </node>
</launch>
